{# ここから追加 #}
<div class="ec-orderPayment">
    <div class="ec-rectHeading">
        <h2>熨斗（手数料500円）</h2>
    </div>
    <div class="ec-input">
        <p>{% if Order.isKansaiUgNoshi %}あり{% else %}なし{% endif %}</p>
    </div>
</div>
{# ここまで追加 #}
