{# ここから追加 #}
<div class="ec-orderPayment">
    <div class="ec-rectHeading">
        <h2>熨斗（手数料500円）</h2>
    </div>
    <div class="ec-input">
        {{ form_widget(form.kansai_ug_noshi, { 'attr': { 'data-trigger': 'change' }}) }}
        {{ form_errors(form.kansai_ug_noshi) }}
    </div>
</div>
{# ここまで追加 #}
